.card {
  display: inline-block;
  background-color: white;
  font-size: 25px;
  font-weight: bolder;
  font-style: italic;
  border-radius: 10px;
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}
