.column {
  border-radius: 10px;
  display: inline-block;
  float: left;
  width: 30%;
  height: 100%;
  margin: 10px;
  background-color: rgb(219, 218, 217);
  padding: 10px;
  padding-top: 2px;
}

.column h1 {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}

.column h1::after {
    content: "+";
    display: block;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0 6px 0 0;
}
